.cell {
	border: 1px solid cyan;
	width:30px;
	height:30px;
}

.blank-cell {
	background-color:white;
}
.empty-cell {
	background-color: gray;
}
.full-cell {
	background-color:blue;
}

.cell:nth-child(5n+7) {
	border-left: 2px solid red;
}
tr:nth-child(5n+6) > td{
	border-top: 2px solid red;
}

.header {
	border-top: 0px solid black !important;
}
